body {
	font-family:'Merriweather', serif;
	color: #131511;
	margin: auto;
	padding: 0px 115px;
	background-color: black;
	font-weight: 400;
	width: 875px;
	

}

.site-header {
	line-height: 50px;
	box-shadow: 0px 0px 5px rgba( 0, 0, 0, 0.3 );
	background-color: #FFFFFF;
	position:relative;
}

.main-navigation {
	display:flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: #2B2F26;
}

.main-navigation a{
	display:block;
	margin:0 20px;
	font-size: .9em;
	color: #968772;
	font-family: 'Roboto', sans-serif;

}

#logo {
	padding: 10px;
	height: 35px;
	width: 35px;
	position:absolute;
	top:0;
	left:0;
}

.main-contain {
	background-color: #F2F1E8;
}

.about-main-content {
	background-color: #F2F1E8;
}


h1 {
	text-align: center;
	font-weight: 400;
}

#birdhouse {
	float: left;
	width: 100px;
	height: 75px;
	margin: 0px 20px 10px 0px;
}

a {
	color: #968772;
}

.about-page-content {
	margin: 0px 100px;
}

aside {
	border-left: groove;
	font-size: .9em;
	padding-left: 20px;
	font-weight: 300;
}

h3 {
	font-weight: 300;
} 

#grow {
	height: 190px;
	background-image: url('./images/optimized/background-3.jpg');
	background-size: cover;
	line-height: 170px;
	color: white;
	margin: 0px -100px;
	width: auto;

}

#about-end {
	float: right;
	width: 125px;
	padding-left: 30px;
}

#about-end-img {
	height: 80px;
	width: 120px;
}

p {
	width: 125px;
	font-size: .6em;
}


th {
	font-weight: 400;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding:15px;
    margin-bottom: 40px;
}

tr:nth-child(even){
	background-color: rgb(242, 234, 220);
}




#site-footer {
	color: #F2F1E8;
	background-color: rgb(43,47,38);
	height: 80px;
	line-height: 80px;
	padding-left: 20px;
	font-size: .7em;
	margin: 0px -100px;
}

