


body {
	font-family:'Merriweather', serif;
	color: #131511;
	margin: 0px 100px;
	padding: 0px 115px;
	background-color: black;
	

}

.main-contain {
	background-color: #F2F1E8;


}

.site-header {
	line-height: 50px;
	box-shadow: 0px 0px 5px rgba( 0, 0, 0, 0.3 );
	background-color: #FFFFFF;
	position:relative;
}

.main-navigation {
	display:flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: #2B2F26;
}

.main-navigation a{
	display:block;
	margin:0 20px;
	font-size: .9em;
	color: #968772;
	font-family: 'Roboto', sans-serif;

}

#logo {
	padding: 10px;
	height: 35px;
	width: 35px;
	position:absolute;
	top:0;
	left:0;
}


#site-footer {
	color: #F2F1E8;
	background-color: rgb(43,47,38);
	height: 80px;
	line-height: 80px;
	padding-left: 20px;
	font-size: .7em;
}

/*H Home Page*/

.page-content {
	padding: 20px;
}

.page-content h1 {
	line-height: 20px;
	text-align: center;
	font-size: 3em;
	font-weight: 400;

}

.page-content h3 {
	text-align: center;
	font-size: 2em;
	font-weight: 200;
	line-height: 25px;
}

.picrow1 {
	width: 113%;
	padding-left: 30px;
}


.pictures-1 {
	height: 275px;
}

.pictures-2 {
	height: 175px;
}

.pic-contain {
	position: relative;
}

#Wasabi {
	width: 
}

#EP {
	width: 50%;
}

.piclabel {
	position: absolute;
	bottom: 10px;
	left: 0px;
	color: #F2F1E8;
	background-color: rgb(43,47,38);
	padding: 7px;
}


/* About Page*/





